.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* background-color: rgba(255, 255, 255, .9); */
    /* background-color:  brightness(0) invert(1); */
    z-index: 10;
    animation: lightboxIn 0.5s;
}

.lightbox__next, 
.lightbox__prev {
    border: none;
    background: url("assets/images/arrowLeft.svg") center center / 100% 100%;
    position: fixed;
    font-weight: 700;
    font-size: 36px;
    color: #901C1C;
    z-index: 11;
    top: 45%;
    margin-top: -14px;
    cursor: pointer;
}

.lightbox__next:hover,
.lightbox__prev:hover {
   filter: brightness(130%);
}

.lightbox__prev {
    right: auto;
    left: 500px;
    /* left: 27%; */
    transform: rotate(360deg);
}
.lightbox__next {
    left: auto;
    right: 500px;
}

.lightbox__close {
    font-size: 40px;
    border: none;
    position: fixed;
    background: transparent;
    top: 12vh;
    right: 500px;
    z-index: 12;
    color: #901C1C;
    /* overflow: hidden; */
    cursor: pointer;
}



.lightbox__close:hover {
    filter: brightness(150%);
}

.lightbox__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: calc(100% - 150px - 150px); */
    /* max-width: 900px; */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.lightbox__container img, 
.lightbox__container video {
    width: calc(100% - 8em - 8em);
    max-width: 800px;
    height: 80vh;
    /* min-height: 70vh; */
    max-height: 750px;
    object-fit: cover;
    margin-top: 2em;
    border-radius: 5px;
    animation: lightboxIn 0.5s;
}

.lightbox__container h2 {
    position: absolute;
    top: 91%;
    left: 29%;
    /* margin-left: -20em; */
color: #901C1C;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* 1860px /  */

@media screen and (max-width: 1860px){
    /* .lightbox__container h2 {
        left: 60%;
      } */
    .lightbox__prev {
        right: auto;
        left: 450px;
    }
    .lightbox__next {
        left: auto;
        right: 450px;
    }
    
    .lightbox__close {
        /* top: 50px; */
        right: 450px;
    }
  }
@media screen and (max-width: 1760px){
    .lightbox__container h2 {
        left: 27%;
      }
    .lightbox__prev {
        right: auto;
        left: 350px;
    }
    .lightbox__next {
        left: auto;
        right: 350px;
    }
    
    .lightbox__close {
        /* top: 45px; */
        right: 350px;
    }
  }
@media screen and (max-width: 1560px){
    .lightbox__container h2 {
        left: 24%;
      }
    .lightbox__prev {
        right: auto;
        left: 250px;
    }
    .lightbox__next {
        left: auto;
        right: 250px;
    }
    
    .lightbox__close {
        /* top: 35px; */
        right: 250px;
    }
  }
@media screen and (max-width: 1360px){
    .lightbox__container h2 {
        left: 20%;
      }
    .lightbox__prev {
        right: auto;
        left: 150px;
    }
    .lightbox__next {
        left: auto;
        right: 150px;
    }
    
    .lightbox__close {
        /* top: 25px; */
        right: 150px;
    }
  }
@media screen and (max-width: 1160px){
    .lightbox__container h2 {
        left: 15%;
      }
    .lightbox__prev {
        right: auto;
        left: 50px;
    }
    .lightbox__next {
        left: auto;
        right: 50px;
    }
    
    .lightbox__close {
        /* top: 15px; */
        right: 50px;
    }
  }

  @media screen and (max-width: 1080px){
  .lightbox__container h2 {
    left: 13%;
  }
}