.filterBy {
    margin: 0 100px 0 100px;
    margin-top: 1em;
}

.filterBy_label {
    font-size: 1.1em;
    font-weight: bold;
}

.dropdown {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    padding: 1rem;
    /* padding-right: 5em; */
    margin-left: 2em;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown_list {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    padding: 1rem;
    margin-left: 2em;
    /* margin-top: 2em; */
    width: 170px;
    height: 170px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FAFAFA;
    /* width: 100%; */
    height: 300px;
    margin: 0 100px;
}
.photograph-header .right-block {
    display: flex;
    justify-content: center;
    align-items: right;
    padding-right: 2.5em;
    /* flex-direction: row; */
    /* position :absolute;
    margin-right: 2em; */
}
.photograph-header .right-block img {
    object-fit: cover;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}
.photograph-header .center-block:nth-child(1) {
order : 2;
}
.photograph-header .right-block:nth-child(3) {
order : 3;
}
.photograph-header .left-block:nth-child(2) {
order : 1;
}
.photograph-header .left-block {
    padding-left: 2.5em;
    padding-right: 1.5em;
    /* max-width: 25em; */
    padding-top:0;
    flex-direction: column;
}
.photograph-header .center-block {
    padding-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
    right: 43%; 
    /* left: 45%;  */
    /* min-left: 35em; */
}
.photograph-header .left-block p { 
    font-size: 1.1em;
}

.photograph-header .left-block h2 {
    color: #D3573C;
    font-size: 4em;
    margin: 0em;
    padding: 0em;
    font-weight: 100;
    /* word-wrap: break-word; */
}

.photograph-header .left-block h3 {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0 0 -0.5em 0;
    font-weight: 400;
}
/* ////////////////////////////////////////////////////////////// */
.photographies-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
    overflow: hidden;
    /* position: absolute; */
}
.photographies-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
}

.price-fixed {
    position: fixed;
    z-index: 1;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding: 0 1em 0 1em ;
    background-color: #DB8876;
    bottom: 0em;
    right: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.price-fixed i {
    font-size : 0.9em;
    padding: 0 2em 0 0.5em;
}

.photographies-section article img {
    object-fit: cover;
    width: 18.8em;
    height: 21.8em;
}
.photographies-section article video {
    object-fit: cover;
    width: 18.8em;
    height: 21.8em;
    /* aspect-ratio: 116.67%; */
}
.block-photographies {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%
}
.block-photographies i {
    color: #901C1C;
    right: -0.5em;
}
.block-photographies p {
    right: 0.5em;
    padding-right: 0.5em;
}
.photographies-section article h2 {
    color: #901C1C;
    font-size: 1.5em;
    /* width: 70%; */
    width: calc(100% - 10px - 10px);
    left: 0em;
    padding-right: 1em;
    /* display: flex;
    justify-content: left; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ////////////////////////////////////////////////////////////// */
#contact_modal {
    display: none;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    /* width: 50%; */
    /* position: fixed; */
    top: 8%;
    left : 27%;
    z-index: 1;
    /* overflow: hidden; */
    /* position: absolute; */
    /* position: relative; */
    position: fixed;
    /* height: 100%; */
    /* left: 5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px; 
    /* margin: auto;  */
    /* margin: 15% auto; */
    width: 100%;
    max-width: 800px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
/* ///////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1500px){
    .photograph-header .left-block {
        max-width: 25em;
    }
  }
  @media screen and (max-width: 1080px){
  .photograph-header .center-block {
    right: 35%;
  }
}
  @media screen and (max-width: 1030px){
  .photograph-header .center-block {
    right: 30%;
  }
}