#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FAFAFA;
    /* width: 100%; */
    height: 300px;
    margin: 0 100px;
}
.photograph-header .right-block {
    display: flex;
    justify-content: center;
    align-items: right;
    padding-right: 2.5em;
    /* flex-direction: row; */
    /* position :absolute;
    margin-right: 2em; */
}
.photograph-header .right-block img {
    object-fit: cover;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}
.photograph-header .center-block:nth-child(1) {
order : 2;
}
.photograph-header .right-block:nth-child(3) {
order : 3;
}
.photograph-header .left-block:nth-child(2) {
order : 1;
}
.photograph-header .left-block {
    padding-left: 2.5em;
    padding-top:0;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.photograph-header .left-block p { 
    
    font-size: 1.1em;
}

.photograph-header .left-block h2 {
    color: #D3573C;
    font-size: 4em;
    margin: 0em;
    font-weight: 100;
}

.photograph-header .left-block h3 {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0 0 -0.5em 0;
    font-weight: 400;
}
/* ////////////////////////////////////////////////////////////// */
.photographies-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
.photographies-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographies-section article img {
    object-fit: cover;
    width: 18.8em;
    height: 21.8em;
}
.photographies-section article h2 {
    size: 1.5em;
}
/* ////////////////////////////////////////////////////////////// */
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}