/* ///////////////////////////// SECTION HEADER DES DATA DES PHOTOGRAPHES ///////////////////////////////// */

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #FAFAFA;
    /* width: 100%; */
    height: 18.75em;
    margin: 0 6.25em;
}
.photograph-header .right-block {
    display: flex;
    justify-content: center;
    align-items: right;
    padding-right: 2.5em;
    /* flex-direction: row; */
    /* position :absolute;
    margin-right: 2em; */
}
.photograph-header .right-block img {
    object-fit: cover;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}
.photograph-header .center-block:nth-child(1) {
order : 2;
}
.photograph-header .right-block:nth-child(3) {
order : 3;
}
.photograph-header .left-block:nth-child(2) {
order : 1;
}
.photograph-header .left-block {
    padding-left: 2.5em;
    padding-right: 1.5em;
    /* max-width: 25em; */
    padding-top:0;
    flex-direction: column;
}
.photograph-header .center-block {
    padding-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
    right: 43%; 
    /* left: 45%;  */
    /* min-left: 35em; */
}
.photograph-header .left-block p { 
    font-size: 1.1em;
}

.photograph-header .left-block h2 {
    color: #D3573C;
    font-size: 4em;
    margin: 0em;
    padding: 0em;
    font-weight: 100;
    /* word-wrap: break-word; */
}

.photograph-header .left-block h3 {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0 0 -0.5em 0;
    font-weight: 400;
}
/* ////////////////////////// SECTION DROPDOWN //////////////////////////////////// */

.textTrier {
    font-size: 1.12em;
    font-weight: 700;
    padding-bottom: 2.5em;
}

.dropdownBlockDrop {
    min-width: 15em;
    position: relative;
    margin: 1em 6.25em 1em 6.25em;
}
.sectionDrop {
    display: flex;
    align-items: center;
}
/* .sectionDrop {
    display: flex;
    align-items: center;
    
} */
.dropdownDrop * {
    box-sizing: border-box;
}

.selectBtnDrop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    width: 10.6em;
    height: 4.38em;
    font-size: 1.12em;
    font-weight: 700;
    background: #901C1C;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    /* margin-left: 2em; */
    padding: 0 1em 0 1em;
}

.selectBtnDrop-clicked {
    box-shadow: 0 0 0 0 black;
}
.selectBtnDrop:hover {
    background: #DB8876;
    cursor: pointer;
}

.caretDrop {
    width: 12px;
  height: 12px;
  border-top: 3px white solid;
  border-left: 3px white solid;
  transform: rotate(225deg);
    transition: 0.5s;
    /* padding-right: 0; */
}

.caretDrop-rotate {
    transform: rotate(45deg);
}

.menuDrop {
    width: 11.55em;
    margin: 1.2em 0.5em 0 0;
    /* height: 4.38em; */
    list-style: none;
    font-size: 1.12em;
    font-weight: 700;
    padding: 0.2em 0.5em 0.2em 0.5em;
    /* margin: 2em 12em; */
    background: #901C1C;
    color: white;
    position: absolute;
    top: 3em;
    z-index: 1;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
}

.menuDrop li {
    /* padding: 1.5em 0.5em; */
    padding: 1.5em 0.5em 1.5em 0.5em;
    margin: 0;
    border-top: 1px solid white;
    /* z-index: 1; */
    cursor: pointer;
    width: 91%;
}
.menuDrop li:hover {
    background: #DB8876;
    width: 96%;
    height: 100%;
    padding: 1.5em 0em 1.5em 0.5em;
    /* filter: brightness(110%); */
    cursor: pointer;
}

/* .activeDrop {
    /* background: #DB8876;
    filter: brightness(90%); */
    /* padding: 0em 0 1.5em 0.5em;
}  */

.menuDrop-open {
    border-radius: 0 0 5px 5px;
    transform: perspective(1000px) rotateX(0deg);
}

.dropdown1 {
    /* width: 10.6em;
    height: 4.38em; */
    /* margin-left: 12em; */
    margin-top: 2em;
    margin-left: 9em;
    transform: translate(-50%, -50%);
    /* box-shadow: 0px 5px 0px 5px grey ; */
    z-index: 1;
}

/* /////////////////////////// SECTION PHOTOGRAPHIES ///////////////////////////////////// */

.photographies-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25em;
    margin-top: 3.12em;
    overflow: hidden;
    /* position: absolute; */
}
.photographies-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 21.8em;
}

.price-fixed {
    position: fixed;
    z-index: 1;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    padding: 0 1em 0 1em ;
    background-color: #DB8876;
    bottom: 0em;
    right: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3em 0.3em 0 0;
}

.price-fixed i {
    font-size : 0.9em;
    padding: 0 2em 0 0.5em;
}

.photographies-section article img {
    object-fit: cover;
    width: 21.8em;
    height: 18.8em;
}
.photographies-section article video {
    object-fit: cover;
    width: 21.8em;
    height: 18.8em;
    /* aspect-ratio: 116.67%; */
}
.block-photographies {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 100%
}
.block-photographies i {
    color: #901C1C;
    right: -0.5em;
}
.block-photographies p {
    right: 0.5em;
    padding-right: 0.5em;
}
.photographies-section article h2 {
    color: #901C1C;
    font-size: 1.5em;
    /* width: 70%; */
    width: calc(100% - 0.62em - 0.62em);
    left: 0em;
    padding-right: 1em;
    /* display: flex;
    justify-content: left; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ////////////////////////// RESPONSIVE //////////////////////////////// */

@media screen and (max-width: 1500px){
    .photograph-header .left-block {
        max-width: 25em;
    }
  }
  @media screen and (max-width: 1080px){
  .photograph-header .center-block {
    right: 35%;
  }
}
  @media screen and (max-width: 1030px){
  .photograph-header .center-block {
    right: 30%;
  }
}
/* ////////////////////////////////////////////////////// */


 