@import url("photographer.css");
@import url("modal.css");
@import url("lightbox.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    /* min-width: 1140px; */
        /* box-sizing: border-box;
      margin: auto;
        block-size: 1080px; */
    
}
a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.2em;
    margin-bottom: 0em;
    font-weight: 100;
}
.photographer_section article h3 {
    color: #901C1C;
    font-size: 0.8em;
    margin: 0 0 -0.5em 0;
    font-weight: 400;
}

.photographer_section article img {
    object-fit: cover;
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}

.photographer_section article p { 
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.6em;
}
.photographer_section article p:nth-child(2n+1) { 
    color: #757575;
    margin-top: -0.5em;
}

footer {
    margin-top: 8em;
}

@media screen and (max-width: 1145px){
    .photographer_section article h2 {
        font-size: 1.8em;
    }
  }